body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    /* display: flex; */
    flex-direction: row;
    height: 100%;
    width: 100%;
}


.container {
    /* display: flex; */
    background-image: url(images/background.png);
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: cover;
}

.animate {
    width: 100px;
    height: 120px;
    position: absolute;
    transition: all;
}

.btn-boat{
    width: 100px;
    height: 120px;
}

.active{
    border: 1px solid darkblue
}

button{
    cursor: pointer;
}
.money{
    box-sizing: border-box;
    border: 5px;
    border-style: solid;
    border-color: black;
    width: 7%;
    background-color: rgb(177, 152, 8);
    font-size: medium;
    /* display: inline-block;
    margin-left: 100px; */
}
.start{
    background-color: gold;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    /* margin: 4px 2px;
    transition-duration: 0.4s;
    margin-left: 40%; */
}
.start:hover{
    background-color: white;
    color: gold;
}