*{
    font-family: 'Press Start 2P', cursive;
    font-size: smaller;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    /* display: flex; */
    flex-direction: row;
    height: 100%;
    width: 100%;
}


.container {
    /* display: flex; */
    background-image: url(images/background.png);
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position:center;
    box-sizing: border-box;
    border: 5px;
    border-color:darkgreen;
    border-style: solid;
}

.animate {
    width: 100px;
    height: 120px;
    position: absolute;
    transition: all;
}

.btn-boat{
    width: 100px;
    height: 50px;
    transition-duration: 0.4s;
}

.btn-boat:hover{
    background-color: white !important;
}

.active{
 filter: brightness(70%);
}

button{
    cursor: pointer;
}
.money{
    box-sizing: border-box;
    border: 5px;
    border-style: solid;
    border-color: black;
    width: 100px;
    background-color: rgb(177, 152, 8);
    font-size: medium;
    /* display: inline-block;
    margin-left: 100px; */
}
.start{
    display: flex;
    align-self: center;
    background-color: gold;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
}
.start:hover{
    background-color: white;
    color: gold;
}
.userStyle{
    display: flex;
    flex-direction: column;
   background-color: #4ef6df;
}
#boatButtonDiv{
    display: flex;
    flex-direction: row;
   justify-content: center;
}
.submit-btn{
    background-color: black;
    color: white;
    padding: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.submit-btn:hover{
    color: black;
    background-color: white;
}
.bet-input{
    border: 3px;
    border-color: black;
    border-style: solid;
    padding: 7px;
    font-size: 12px;
}  
.moneyDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
#form-id{
    display: flex;
    flex-direction: column;
}
.errorMessage{
    color: red;
    font-size: 8px;
}
/* .container {
    background-image: url(images/background.png);
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position:center;
box-sizing: border-box;
border: 5px;
border-color:darkgreen;
border-style: solid;
    
}

.animate {
    width: 100px;
    height: 120px;
    position: absolute;
}
#userSection{
   background-color: #4ef6df;
   display: gri;
}

button{
    cursor: pointer;
}
.money{
    box-sizing: border-box;
    border: 5px;
    border-style: solid;
    border-color: black;
    width: 7%;
    background-color: rgb(177, 152, 8);
    font-size: medium;
    display: inline-block;
    margin-left: 100px;
}
.start{
    background-color: gold;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  margin-left: 40%
  ;
}
.start:hover{
background-color: white;
color: gold;
}
